<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @award.name %>
</p>

<p>
  <b>Year:</b>
  <%= @award.year %>
</p>

<p>
  <b>Student:</b>
  <%= @award.student.given_name %> <%= @award.student.family_name %>
</p>


<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
